<section class="form-contact-us-wrapper">
    <div class="form-contact-us">
        <div class="header">
            <h3>{{ module.header.title }}</h3>
            <span>{{ module.header.description }}</span>
        </div>
        <form method="post" action="{{ page.url }}">
            <ul class="controls">
                <li class="control">
                    <label for="name">{{ "NAME"|t }}</label>
                    <input type="text" id="name" name="name" placeholder="{{ "ENTER_YOUR_NAME"|t }}" required>
                </li>
                <li class="control">
                    <label for="surname">{{ "SURNAME"|t }}</label>
                    <input type="text" id="surname" name="surname" placeholder="{{ "ENTER_YOUR_SURNAME"|t }}" required>
                </li>
                <li class="control">
                    <label for="email">{{ "EMAIL"|t }}</label>
                    <input type="email" id="email" name="email" placeholder="{{ "ENTER_YOUR_EMAIL_ADDRESS"|t }}" required>
                </li>
                <li class="control">
                    <label for="message">{{ "MESSAGE"|t }}</label>
                    <textarea id="message" name="message" placeholder="{{ "ENTER_YOUR_MESSAGE"|t }}" required minlength="10"></textarea>
                </li>
            </ul>

            <button type="submit" title="{{ "SEND"|t }}">{{ "SEND"|t }}</button>
        </form>
    </div>
</section>

