<section class="initiative-wrapper">
    <div class="initiative">
        <div class="header">
            {% if title %}
                <h2>{{ title }}</h2>
            {% endif %}

            {% if subtitle %}
                <div class="subtitle-container">
                    <h4>{{ subtitle }}</h4>
                </div>
            {% endif %}
        </div>
        <div class="body">
            {% if image %}
                <div class="image-container">
                    <img src="{{ image }}" class="image"></img>
                </div>
            {% endif %}
            
            {% if description %}
                <div class="description">{{ description|raw }}</div>
            {% endif %}
        </div>
        <div class="footer">
            {% if date %}
                <p>{{ date }}</p>
            {% endif %}

            {% if link_url  %}
                <p class="link"><a href="{{ link_url }}" target="_blank">{{ link_text }}</a></p>
            {% else %}
                <p class="link">&nbsp;</p>  {# Non-breaking space as a placeholder #}
            {% endif %}
        </div>
    </div>
</section>