<article class="phone-wrapper">
    <section class="phone">
        <ul class="phone-numbers">
            {% for phone in module.header.phones %}
                <li title="{{ "GIVE_US_A_CALL"|t }}!">
                    <a href="tel:{{ phone.number }}">
                        <img class="phone" src="{{ url('theme://images/icons/phone.svg') }}" alt="Phone Icon">
                        <img class="flag" src="{{ url('theme://images/icons/flags/' ~ phone.flag) }}" alt="{{ phone.title }} Flag">
                        <span class="number">{{ phone.number }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</article>